= form_for @posting, html: { multipart: true, class: "form-horizontal", role: "form" } do |f|
  -if @posting.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@posting.errors.count, "error")} prohibited this posting from being saved:"

      %ul
        - @posting.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :title, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :description, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :description, class: 'form-control'
  .form-group
    - f.fields_for :images do |f_image|
      - f_image.label :name, class: 'col-sm-2 control-label' do 
        .col-sm-10
          = f_image.file_field :name, name: 'posting[image_attributes][]', multiple: true
  - if params[:controller] == 'post' && params[:action] == 'edit'
    - @posting.images.each do |p|
      = image_tag p.name.thumb
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
